* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {

  width: 100%;
  height: 100%;
  overflow: hidden;

}

body {

  font-family:
    Inter,
    Segoe UI,
    sans-serif;

  background: #101820;
  color: white;
}

#app {

  width: 100vw;
  height: 100vh;
}

.dashboard {

  display: flex;
  flex-direction: column;

  height: 100vh;

  padding: 20px;
}

.header {

  display: flex;

  justify-content: space-between;

  align-items: center;

  margin-bottom: 20px;
}

.title {

  font-size: 42px;

  font-weight: bold;
}

.datetime {

  text-align: right;
}

.time {

  font-size: 42px;

  font-weight: bold;
}

.date {

  font-size: 18px;

  opacity: .8;

  text-transform: capitalize;
}

.grid {

  flex: 1;

  display: grid;

  grid-template-columns: 2fr 1fr;

  grid-template-rows: 2fr 1fr;

  gap: 20px;
}

.card {

  background: #1d2935;

  border-radius: 18px;

  padding: 20px;

  border: 1px solid #304050;

  box-shadow: 0 6px 18px rgba(0,0,0,.25);
  min-height: 0;
  overflow: hidden;
}

.card h2{

  font-size:26px;

  margin-bottom:20px;
}
